$AwesomeFont: FontAwesome;
$FontThis: robotothin, sans-serif;
$FontLight: robotolight, sans-serif;
$FontRegular: robotoregular, sans-serif;
$FontMedium: robotomedium, sans-serif;
$FontBold: robotobold, sans-serif;
$FontBlack: robotoblack, sans-serif;
$default-text-color: #2c3e50;

$topBarHeight: 50px;

$primary: #5780ff;
